.conversation, .newsletter {

  input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.18);
    background-color: $off-white;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

    font-size:1.6rem;
  }

}

  button {
    background-color:#0073cf;
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    outline: none;
    position: relative;
    letter-spacing: .2rem;
    padding: 2rem 3rem;
    color:white;
    border-radius: .5rem;
    transition: all .2s;
    max-width:25rem;
    cursor: pointer;

    &:disabled {
      cursor: default;
      opacity: .2;
    }

    &.none {
      background: none;
      padding: .5rem;
      align-self: flex-start;
  }    

    &.outline {
        background: none;
        border:3px solid white;
        font-weight: 600;
    }

    &.outline-grey {
        color: #747d88;
        background: none;
        border:3px solid #747d88;
        font-weight: 600;
    }

    &.round-box-shadow {
      background-color: #15c39a;
      color: #ffffff !important;
      border-width: 0px !important;
      border-color: rgba(0,0,0,0);
      border-radius: 100px;
      letter-spacing: 2px;
      font-size: 13px;
      font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif !important;
      font-weight: 500 !important;
      text-transform: uppercase !important;
      box-shadow: 0px 10px 20px 0px rgba(21,195,154,0.3);

  }    
  }


  .form-field {

    &__error {
      background-color: red;
      color:white;
      padding:1rem;
      text-align: right;
      text-transform: uppercase;
    }
  }

  .queryform {

    display:flex;
    width:80%;

    z-index: 99;

    &__query {
        width: 100%;
        border: .3rem solid #0073cf;
        border-right: none;
        padding: 1rem;
        height: 100%;
        border-radius: 5px 0 0 5px;
        outline: none;
        font-size: 1,6rem;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;

        @include respond(tablet-portrait) {
          font-size:3rem;
        }

      }


    &__btn {
      font-size: 2rem;
      color: #fff;
      border-radius: 0 5px 5px 0;
      border: 1px solid #0073cf;
      background: #0073cf;
      text-align: center;
      cursor: pointer;
      padding:1rem 3rem;       
    }


}


.filterold {
  // border:3px solid black;
  padding:3rem;
  font-size: 1.8rem;
  border:3px solid green;
  display:flex;

  &__dropdown {
    background: rgba(255,255,255,0);
    text-align: center;
		position: relative;
		border-color: #ccc;
		border-style: solid;
		border-width: 0 0 2px 0;
		// color: $sapphire;
    color: #0073cf;
		cursor: pointer;
		// font-size: 20px;
    outline: 0;
    margin: 1rem;
  }

  & span {
    font-weight: bold;
  }

  & h3 {
    margin-top: 1rem;
  }



  &__list {

    @include respond(tablet-portrait) {
      display: flex;
      justify-content: space-around;

  }

}

  & li {
    padding:.5rem;
  }
}



.filter {
  padding:1rem;
  margin-bottom: 1rem;

  &__dropdown {
    background: rgba(255,255,255,0);
    text-align: center;
		position: relative;
		border-color: #ccc;
		border-style: solid;
		border-width: 0 0 2px 0;
		// color: $sapphire;
    color: #0073cf;
		cursor: pointer;
		// font-size: 20px;
    outline: 0;
    margin: 1rem;
  }



  &__list {

    display: grid;
    grid-gap: .8em .25em;
    grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
    justify-content: space-evenly;
    align-content: space-around;
    padding: .25em;
}

&__button {
  font-size: 1.4rem;
  height: 100%;
  width:100%;
  padding:2rem .25rem;

}

}
